.main
  .main-header
    .main-header__left-box
      .main-header__left-box__current__group 
        = @group.name
      %ul.main-header__left-box__member__list 
        Member:
        - @group.users.each do |user| 
          %li.main-header__left-box__member__list__member 
            = user.name
    =link_to edit_group_path(@group.id) do
      %p.main-header__edit__btn Edit

  .MessageField
    = render @messages
  
  .form
    = form_with model: [@group, @message] do |f| 
      .input-box
        = f.text_field :content,class:"input-box__text",placeholder:"type a message"
        = f.label :image,class: "input-box__image" do
          = icon('fas','image')
          =f.file_field :image,class:"input-box__image__file"
      = f.submit 'Send',class: "submit-btn"
