.side-bar
  .side-header
    .side-box
      %P.side-box__userName 
        = current_user.name
      %ul.side-box__Iconlist
        %li.side-box__Iconlist__icon
          = link_to new_group_path do
            = icon('fas','edit')
        %li.side-box__Iconlist__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        =link_to "#" do
          .group__name 
            test
          .group__messages 
            まだメッセージがありません